@implements IDisposable
@inject AgeCheck _cs
@inject NavigationManager NavigationManager
<p>@_cs.Set</p>
<input type="date" @bind="_cs.ageCheck"/>
<button class="btn btn-primary" @onclick="checkage">Click me</button>
@code {
    
    protected override void OnInitialized()
    {
        _cs.OnChange += StateHasChanged;
    }
    
    private void checkage()
    {
        
        _cs.CheckAge();
        if (_cs.Age >= 18)
        {
             NavigationManager.NavigateTo("/AdultContent");
        }
        
    }

    public void Dispose()
    {
        _cs.OnChange -= StateHasChanged;
    }

    
}