

<address>
    Email:<a href="mailto:allenverdot1224356@gmail.com"> Allen Verdot</a><br>
    Furafinaty: <a href="https://www.google.com"> Furafinaty</a><br>
    Telagram: <a href="https://www.google.com"> Telagram</a><br>
    Discored: <a href="https://www.google.com"> Discored</a><br>
    Twitch: <a href="https://www.google.com"> Twitch</a><br>
</address>

@code {
    
}