@page "/"

<br/>
 <h1 style="text-align: center;">Hello and Welcome to My Lair!</h1>   
<div id="ImageContainer">
 <img src="css/Images/MainImage.jpg" alt="Something went wrong" width="1000" height="750" id="welcomeimage" style=""/>
</div>


