@page "/Register"
@inject ErrorClientServies _els
<h3>Register</h3>
<EditForm Model="@register" OnValidSubmit="@InsertPersion">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" @bind-value="register.Username" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-value="register.Password" class="form-control" type="password"></InputText>
    </div>
    <div class="form-group">
        <label for="fristname">Fristname</label>
        <InputText id="fristname" @bind-value="register.FirstName" class="form-control" ></InputText>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <InputText id="lastname" @bind-value="register.Lastname" class="form-control" ></InputText>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-value="register.Email" class="form-control" type="Email"></InputText>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <InputText id="phone" @bind-value="register.Phone" class="form-control" type="Phone"></InputText>
    </div>
    
    <button type="submit" class="btn btn-dark">Register</button>
</EditForm>
@code {
    private RegisterModel register = new RegisterModel();

    private async Task InsertPersion()
    {

        // await _els.InsertPersion(register);
    }
}